<?xml version='1.0' encoding='utf-8'?>
<widget id="canvas.snake" version="0.2.0">
  <name>Snake</name>
  <description>
    Example Tabris.js App
  </description>
  <author email="rubentoca@gmail.com">
    Rubén Toca Lucio
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
</widget>
